*{
    margin: 0;
    padding: 0;
}
#h{
    background-color: burlywood;
}
.container{
    background-color:black;
    /* width: 70vw; */
    margin: auto;
    padding: 50px 0;
    margin-top: 10px;
}
.language-js{
    background-color: black;
}
#sp{
   color: white;
   text-decoration: none;
}
#py{
    width: 200px;
    height: 200px;
}
#dvu{
    right: 100px;
}
#uu{
    margin-top: 10px;
    width: 200px;
    height: 200px;
}
#pr-pic{
    width: 300px;
    height: 375px;
    margin-left: 500px;
}
#line-profile{
    line-height: 500px;
}
.info-area{
    margin-left: 10px;
}
#pawri{
    color: #fff;
    text-decoration: none;
}
.badgtw{
    color: rgb(224, 12, 12);
}
